

h1{
font: 38px verdana, sans-serif;
font-weight: bold;
color:#0F0F00;
text-align: center;
}

#generate{
font: 18px verdana, sans-serif;
font-weight: bold;
color:#660033;
display: block;
margin: auto;
width: 200px;
padding: 5px 5px;


}

#containThis {
font: 18px verdana, sans-serif;
color: #0F0F00;
font-weight: bold;
font-style: italic;
margin: 15px 10px;
padding: 15px 10px;
}



.blue {
	background-color: blue;
}

.purple{
	background-color: purple;
}